@if (periodicStore.isLoading()) {
  Data is loading
} @else {
  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput [ngModel]="periodicStore.filter()" (ngModelChange)="onFilterChange($event)" placeholder="Filter">
  </mat-form-field>
  <table mat-table [dataSource]="periodicStore.filteredElements()">
    @for ( column of periodicStore.keyList(); track column) {
      <ng-container matColumnDef="{{ column }}">
        <th mat-header-cell *matHeaderCellDef> {{ column }}</th>
        <td
          mat-cell
          *matCellDef="let element;let index = index"
          (click)="openEditDialog(element, column, index)"
        > {{ element[column] }}</td>
      </ng-container>
    }
    <tr mat-header-row *matHeaderRowDef="periodicStore.keyList()"></tr>
    <tr mat-row *matRowDef="let row; columns: periodicStore.keyList();"></tr>
  </table>
}
